main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Mali', cursive;
  color: #E94E77;
}

.grid {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-top: solid 1px #C6A49A;
}

.row:first-child {
  border-bottom: solid 1px #C6A49A;
}

.cell {
  border-right: solid 1px #C6A49A;
  background-color: #F4EAD5;
}

.cell:first-child {
  border-left: solid 1px #C6A49A;
}

.tile {
  height: 100%;
  width: 100%;
}

button {
  color: #E94E77;
  background-color: #C6E5D9;
  border: none;
  border-radius: 3px;
  font-family: inherit;
}
